# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
build

data_set_generator/bin/
data_set_generator/include/
data_set_generator/lib/
data_set_generator/lib64/
data_set_generator/pyvenv.cfg
voice_model/bin
voice_model/etc
voice_model/include/python3.12
voice_model/jupyter-1.0.0
voice_model/lib/python3.12/site-packages
voice_model/share
voice_model/jupyter.tar.gz